$blueGrey50: #F8FAFC;
$blueGrey300: #CDD5E0;
$blueGrey400: #949DAD;
$blueGrey600: #495362;
$blueGrey700: #3E4856;
$black: #000;
$white: #fff;
$orange: rgba(255, 131, 70, 1);
$background: #676667;

$linkInactive: #D4D4D4;
$linkActive: $blueGrey50;

$dark: #1B1C1F;
$dark-20: rgba($dark, 0.20);

$closeColor: rgba(217, 217, 217, 1);