html {
  font-size: 5px;

  @media(min-width: $tiny) {
    font-size: 7px;
  }

  @media(min-width: $small) {
    font-size: 9px;
  }

  @media(min-width: $medium) {
    font-size: 11px;
  }

  @media(min-width: $large) {
    font-size: 13px
  }

  @media(min-width: $xlarge) {
    font-size: 16px;
  }

  .tooltip {
    background-color: #000;
    color: #fff;
    padding: 0.625rem;
    font-size: 0.75rem;
    max-width: 15rem;
    text-align: center;
    border-radius: 10px;
  }
}

body {
  font-family: Inter, sans-serif;
  background: $background;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

body::after {
  content: '';
  display: block;
  height: 50px;
}
