html {
  font-size: 16px;

  @media(max-width: 768px) {
    font-size: 14px
  }

  @media(max-width: 480px) {
    font-size: 12px;
  }
}

body {
  font-family: Inter;
  background: $background;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

body::after {
  content: '';
  display: block;
  height: 50px;
}
