@mixin h1($font-family: system-ui) {
  font-family: $font-family;
  color: $white;
  text-align: center;
  font-size: 3.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.425rem;
}

@mixin h2 {
  @include font-system-ui;
  font-size: 3rem;
  font-style: normal;
  font-weight: 508;
  line-height: 3.426rem;
}

@mixin h3 {
  @include font-system-ui;
  font-size: 2rem;
  font-style: normal;
  font-weight: 508;
  line-height: 2.625rem;
}

@mixin p($font-family: system-ui) {
  font-family: $font-family;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.134rem;
}

@mixin font-system-ui {
  font-family: system-ui;
}

@mixin sizer($margin-top-bottom: 8rem) {
  margin: $margin-top-bottom auto;
  max-width: 72.8125rem;
}

@mixin list($margin-top-bottom: 8rem) {
  @include sizer($margin-top-bottom);
  height: 100%;
  border-radius: 1.875rem;
  background: #1B1C1F;
  padding: 1rem 0.875rem;
}

@mixin listItemWrapper($has-icon: false) {
  color: $white;
  font-size: 1rem;
  display: grid;
  align-items: center;
  gap: 0.5rem;
  padding: 1.453rem 1.27rem;

  &:hover {
    border-radius: 1.25rem;
    background: rgba(#D9D9D9, 0.1);
  }
}

@mixin listItem {
  &:not(:last-child):after {
    content: '';
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    width: calc(100% - 1.6875rem * 2);
    margin-left: 1.6875rem;
  }
}